#aboutme {
	#whoAmI {
		// position:relative;
	 	
	 	// height: 800px;
	 	// margin-top: 300px;

	}

	.cool-list {
		display: block;
		height: auto;
		li {
			height: auto;
			font-size: 1em;
			margin-bottom: 25px;
			span:nth-child(2) {
				// position: absolute;
				left: 400px;
				height: auto;
				padding-right: 50px;
			}
		}
	}

	#professional_history {
		margin-top: 100px;
		ul {
			margin-top: 50px;
			li {
				margin-bottom: 25px;
			}
		}
	}

	.jobhistory-info {
		position:relative;
	 	// width: 100%;
	 	ul {
	 		padding-bottom: 100px;
 			padding-right: 100px;
	 	}
	 
	}


	// #ul_professional_history {
 // 			li {
 // 				padding-bottom: 100px;
 // 				padding-right: 100px;
 // 			}
	//  	}
}