.blog {
	#comment {
		width: 100%;
	}

	.blog_text {
		padding: 25px;
	}

	.comments {
		.commenter_name {
			font-weight: bold;
		}
	}
	
	.well {
		// position: relative;
		padding-bottom: auto;
		padding-top: auto;
		vertical-align: middle;
	}

	.caption {
		height: 100%;
		padding: 10px;
	}

	.step_command {
		// position: absolute;
	}
	.step_title {
		font-weight: bold;	
	}
	.zeroclipbtn {
		// position: absolute;
		float: left;
	}
}

.blogpost {
	.steps {
		padding-bottom: 25px;
	}
}