.intro-text {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 1px;
}

.well{
	hr {
		border-color: black;
		margin-left: 100px;
		margin-right: 100px;
	}
}

.li_no_style {
	list-style-type: none;
}