@font-face { font-family: Code_Pro_Light_Demo; src: url('../fonts/Code_Pro_Light_Demo.otf'); } 
@font-face { font-family: Ubuntu-R; src: url('../fonts/Ubuntu-R.ttf'); } 
@font-face { font-family: Headline; src: url('../fonts/HEADOH__.TTF'); } 
@font-face { font-family: Franchise-Free-Bold; src: url('../fonts/Franchise-Free-Bold.ttf'); } 

body {
	padding-top: 70px;
}

.clip {
	// -webkit-mask-image: url(../images/circle.svg)
	  clip-path: url(#svgPath);
	 // clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);
}	

.fade {
  transition:2s linear all;
  opacity:0;
}

.fadeIn {
  opacity:1;
}