@font-face { font-family: Code_Pro_Light_Demo; src: url('../fonts/Code_Pro_Light_Demo.otf'); } 
@font-face { font-family: Ubuntu-R; src: url('../fonts/Ubuntu-R.ttf'); } 
body {
	font-family: 'Ubuntu-R', serif;
}
#main{
	#products {
		.alert {
		    border: 1px solid transparent;
		    border-radius: 4px;
		    margin-bottom: 0px;
		    padding: 6px;
		    // position: absolute;
		    // bottom: 0px;
		}

		.btn-lg {
			float: right;
		}

		#product {
			position: relative;
			padding: 5px;
			padding-bottom: 20px;
		}
	}	
}