//colors
$color_new_york_pink_approx: #d17581;
$color_mine_shaft_approx: #333;

body {
	padding-top: 70px;
}
.slide-image {
	width: 100%;
}
.carousel-holder {
	margin-bottom: 30px;
}
.carousel-control {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 4px;
}
.item {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 4px;
}
.caption {
	height: 130px;
	overflow: hidden;
	h4 {
		white-space: nowrap;
	}
}
.thumbnail {
	padding: 0;
	img {
		width: 100%;
	}
	.caption-full {
		padding: 9px;
		color: $color_mine_shaft_approx;
	}
}
.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: $color_new_york_pink_approx;
}
footer {
	margin: 50px 0;
}