<div id="aboutme">
	<div class="row">
		<div class="col-sm-6">
			<img src="images/me.jpg" />
		</div>
		<div class="col-sm-6">
			<div class="alert alert-info octicon octicon-tag margin-top-200">
				<ul class="li_no_style">
					<!-- <li>
						<span class="col-sm-4">Age:</span> <span class="col-sm-7">34</span>
					</li>
					<li>
						<span class="col-sm-4">Location:</span> <span class="col-sm-7">Helsinki, Finland</span>
					</li>
					<li>
						<span class="col-sm-4">Role:</span> <span class="col-sm-7">Web developer</span>
					</li>
					<li>
						<span class="col-sm-4">Languages:</span> <span class="col-sm-7">Finnish, English</span>
					</li> -->
					<li>
						<span>Age:</span> <span>34</span>
					</li>
					<li>
						<span>Location:</span> <span>Helsinki, Finland</span>
					</li>
					<li>
						<span>Role:</span> <span>Web developer</span>
					</li>
					<li>
						<span>Languages:</span> <span>Finnish, English</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>