<div id="aboutme">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="images/me.jpg" class="hidden-xs" />
			</div>
			<div class="col-sm-6">
				<div class="jumbotron">
					<ul class="li_no_style">
						<hr>
						<h4 class="text-center">Who am I</h4>
						<hr>
						<li>
							<span><h5>Name</h5></span> <span>Antti Matikainen</span>
						</li>
						<li>
							<span><h5>Age</h5></span> <span>34</span>
						</li>
						<li>
							<span><h5>Location</h5></span> <span>Helsinki, Finland</span>
						</li>
						<li>
							<span><h5>Role</h5></span> <span>Software developer</span>
						</li>
						<li>
							<span><h5>Main interests</h5></span> <span>Front-end development, modern web technologies</span>
						</li>
						<li>
							<span><h5>Technologies</h5></span> <span>HTML5, CSS3, Less, Sass, Javascript, AngularJS, NodeJS, MongoDB, Git, Karma, Jasmine, GruntJS, Express, C#, .NET MVC, SQL</span>
						</li>
						<li>
							<span><h5>Languages</h5></span> <span>Finnish, English</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="professional_history" class="col-sm-12">
				<h3>professional history</h3>
				<ul id="ul_professional_history" class="li_no_style">
					<li>
						<div class="jumbotron jobhistory-info">
							<img src="images/avanade_logo.jpg" />
						
							<ul class="li_no_style">					
								<li>
									<span><h5>Title</h5></span> <span>Consultant</span>
								</li>
								<li>
									<span><h5>Role</h5></span> <span>Front-end development</span>
								</li>
								<li>
									<span><h5>Keywords</h5></span> <span>.NET MVC, C#, HTML5, CSS3, Javascript, AngularJS, Entity Framework, SQL, TFS</span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="jumbotron jobhistory-info">
							<img src="images/digia_logo.png" />
							<ul class="li_no_style">					
								<li>
									<span><h5>Title</h5></span> <span>Systems designer</span>
								</li>
								<li>
									<span><h5>Role</h5></span> <span>Full-stack development</span>
								</li>
								<li>
									<span><h5>Keywords</h5></span> <span>.NET WebForms, .NET WinForms C#, Spring.NET, NHibernate, SQL, Visual Basic 6</span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="jumbotron jobhistory-info">
							<img src="images/etteplan.png" />
							<ul class="li_no_style">					
								<li>
									<span><h5>Title</h5></span> <span>PCB Designer</span>
								</li>
								<li>
									<span><h5>Role</h5></span> <span>PCB Designer</span>
								</li>
								<li>
									<span><h5>Keywords</h5></span> <span>PADS</span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="jumbotron jobhistory-info">
							<h4>Eleforss</h4>
							<ul class="li_no_style">					
								<li>
									<span><h5>Title</h5></span> <span>Project engineer</span>
								</li>
								<li>
									<span><h5>Role</h5></span> <span>Electronics and embedded systems design</span>
								</li>
								<li>
									<span><h5>Keywords</h5></span> <span>Embedded systems, Atmel microcontrollers, C, ASM, PIC, FPGA, PCB design, PADS</span>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>