<div id="main" class="container">
    <h1>A MATIKAINEN</h1>
    
    <div id="heros" class="row hidden-xs">
        <div id="hero1" ng-class="{fadeIn: fadeIn}" class="fade col-sm-1 padding-0 img-responsive" style="clip-path: url(#clipping0);">
            <img id="hero-img-1" class="clip" src="images/lekaccc1.jpg" />
        </div>
        <div id="hero2"
            ng-class="{fadeIn: fadeIn2}"
            class="fade col-sm-3 padding-0 img-responsive">
            <img id="hero-img-2" class="clip2" style="clip-path: url(#clipping);" src="images/lekaccc2.jpg" />
        </div>
        <div id="hero3"
            ng-class="{fadeIn: fadeIn3}"
            class="fade col-sm-6 padding-0 img-responsive">
            <img id="hero-img-3" class="clip3" style="clip-path: url(#clipping2);" src="images/lekacc3.jpg" />
        </div>
        
    </div>
    <svg><defs><clipPath id="clipping0"><circle cx="75" cy="75" r="75" /></clipPath><clipPath id="clipping"><circle cx="150" cy="150" r="150" /></clipPath><clipPath id="clipping2"><circle cx="400" cy="400" r="400" /></clipPath></defs></svg>
    <div id="bq" class="row fade" ng-class="{fadeIn: fadeIn4}">
        <div class="col-sm-4">
            <blockquote cite="http://www.brainyquote.com/quotes/quotes/s/stevejobs416859.html">
                <i>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do.</i><br><br> -S.J.
            </blockquote>
        </div>
    </div>
</div>